
.div-category-list .ant-list-item{
    padding: 0;
}
.div-category-list .ant-list-item-meta{
    padding: 8px;
}
.div-category-list .ant-list-item-meta-title{
    cursor: pointer;
}
.div-category-list .ant-list-item-meta-title>a:hover {
    color: #000;
}
.div-category-list .ant-list-split .ant-list-item :hover{
    background-color: #ddd;
}
.ant-list-vertical .ant-list-item-action>li{
    padding: 0 4px;
}
.example {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.ant-image-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.ant-list-vertical .ant-list-item-action{
    margin-left: 56px;
}