.ant-space-item{
    margin-bottom: 0!important;
}
.ant-image-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.following-btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.following-btn h4{
    cursor: pointer;
    margin-right: 15px;
}
.ant-modal-body .ant-list-item-meta-content{
    margin-top: 10px;
}